[Desktop Entry]
Type=Application
Name=SecureUSB Indicator
Comment=Tray indicator for SecureUSB
Exec=/usr/bin/python3 /opt/secureusb/src/gui/indicator.py
Icon=secureusb
Terminal=false
StartupNotify=false
Categories=System;Security;
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=3
NoDisplay=true
